<div class="container" >
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregá tu nueva predicción</h4>
            <form action="/admin/predicciones/agregar" method="post">
            <div class="mb-3 row">
                <input type="text" class="form-control"
                placeholder="Nombre" name="user" >
                </input>

            </div>
<div class="mb-3 row"> 
    <textarea type="text" class="form-control" placeholder="Prediccion" name="body">

    </textarea>
</div>
<button type="submit" class="btn btn-primary">Guardar

</button>
            </form>
        </div>
    </div>
</div>